{% include 'dashboard.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking</title>
</head>
<body>
    <h1>Booking</h1>
    <h2>{{ show_timing.movie.title }}</h2>
    <h3>Date: {{ show_timing.date }} - Time: {{ show_timing.time }}</h3>
    
    <form action="{% url 'booking' show_timing.id %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Book</button>
    </form>
</body>
</html>
