{% load static %}
{% include 'dashboard.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Listing</title>
    <link rel="stylesheet" type="text/css" href="{% static 'movie_listing_styles.css' %}">
</head>
<body>
    <h1>Movie Listing</h1>
    <form action="{% url 'movie_listing' %}" method="get">
        <label for="language-filter">Filter by Language:</label>
        <select id="language-filter" name="language">
            <option value="">All Languages</option>
            {% for language in unique_languages %}
                <option value="{{ language }}">{{ language }}</option>
            {% endfor %}
        </select>
        <button type="submit">Apply Filter</button>
    </form>
    <ul>
        {% for movie in movies %}
            <li class="movie">
                <a href="{% url 'movie_detail' movie.id %}">{{ movie.title }}</a> (Language: {{ movie.language }})
            </li>
        {% empty %}
            <li>No movies found.</li>
        {% endfor %}
    </ul>
</body>

</html>
